<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
      <dict>
        <key>enemy1</key>
        <dict>
            <key>attack</key>
            <array>
                <integer>1</integer>
            </array>
            <key>attackRate</key>
            <array>
                <real>0.7</real>
            </array>
            <key>mode</key>
            <array>
                <integer>1</integer>
            </array>
            <key>health</key>
            <array>
                <integer>12</integer>
            </array>
            <key>bulletNum</key>
            <array>
                <integer>-1</integer>
            </array>
            <key>bulletV</key>
            <array>
                <integer>-1</integer>
            </array>
            <key>moveSpeed</key>
            <array>
                <integer>38</integer>
            </array>
        </dict>
        <key>enemy2</key>
        <dict>
            <key>attack</key>
            <array>
                <integer>4</integer>
            </array>
            <key>attackRate</key>
            <array>
                <real>1.5</real>
            </array>
            <key>mode</key>
            <array>
                <integer>2</integer>
            </array>
            <key>health</key>
            <array>
                <integer>8</integer>
            </array>
            <key>bulletNum</key>
            <array>
                <integer>101</integer>
            </array>
            <key>bulletV</key>
            <array>
                <integer>350</integer>
            </array>
            <key>moveSpeed</key>
            <array>
                <integer>30</integer>
            </array>
        </dict>
        <key>enemy3</key>
        <dict>
            <key>attack</key>
            <array>
                <integer>2</integer>
            </array>
            <key>attackRate</key>
            <array>
                <real>1.0</real>
            </array>
            <key>mode</key>
            <array>
                <integer>2</integer>
            </array>
            <key>health</key>
            <array>
                <integer>10</integer>
            </array>
            <key>bulletNum</key>
            <array>
                <integer>102</integer>
            </array>
            <key>bulletV</key>
            <array>
                <integer>440</integer>
            </array>
            <key>moveSpeed</key>
            <array>
                <integer>32</integer>
            </array>
        </dict>
        <key>enemy4</key>
        <dict>
            <key>attack</key>
            <array>
                <integer>2</integer>
            </array>
            <key>attackRate</key>
            <array>
                <real>1.0</real>
            </array>
            <key>mode</key>
            <array>
                <integer>2</integer>
            </array>
            <key>health</key>
            <array>
                <integer>12</integer>
            </array>
            <key>bulletNum</key>
            <array>
                <integer>103</integer>
            </array>
            <key>bulletV</key>
            <array>
                <integer>480</integer>
            </array>
            <key>moveSpeed</key>
            <array>
                <integer>32</integer>
            </array>
        </dict>
        <key>enemy5</key>
        <dict>
            <key>attack</key>
            <array>
                <integer>1</integer>
            </array>
            <key>attackRate</key>
            <array>
                <real>0.8</real>
            </array>
            <key>mode</key>
            <array>
                <integer>1</integer>
            </array>
            <key>health</key>
            <array>
                <integer>15</integer>
            </array>
            <key>bulletNum</key>
            <array>
                <integer>-1</integer>
            </array>
            <key>bulletV</key>
            <array>
                <integer>-1</integer>
            </array>
            <key>moveSpeed</key>
            <array>
                <integer>40</integer>
            </array>
        </dict>
    </dict>
</plist>
