<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
      <dict>
        <key>bow</key>
        <dict>
            <key>attack</key>
            <array>
                <integer>1</integer>
            </array>
            <key>attackRate</key>
            <array>
                <integer>1</integer>
            </array>
            <key>mode</key>
            <array>
                <integer>2</integer>
            </array>
            <key>magicUse</key>
            <array>
                <integer>1</integer>
            </array>
            <key>bulletNum</key>
            <array>
                <integer>0</integer>
            </array>
            <key>bulletV</key>
            <array>
                <integer>460</integer>
            </array>
        </dict>
        <key>betterBow</key>
        <dict>
            <key>attack</key>
            <array>
                <integer>2</integer>
            </array>
            <key>attackRate</key>
            <array>
                <integer>1</integer>
            </array>
            <key>mode</key>
            <array>
                <integer>2</integer>
            </array>
            <key>magicUse</key>
            <array>
                <integer>3</integer>
            </array>
            <key>bulletNum</key>
            <array>
                <integer>1</integer>
            </array>
            <key>bulletV</key>
            <array>
                <integer>500</integer>
            </array>
        </dict>
        <key>pistol</key>
        <dict>
            <key>attack</key>
            <array>
                <integer>2</integer>
            </array>
            <key>attackRate</key>
            <array>
                <integer>1</integer>
            </array>
            <key>mode</key>
            <array>
                <integer>2</integer>
            </array>
            <key>magicUse</key>
            <array>
                <integer>2</integer>
            </array>
            <key>bulletNum</key>
            <array>
                <integer>2</integer>
            </array>
            <key>bulletV</key>
            <array>
                <integer>400</integer>
            </array>
        </dict>
        <key>betterPistol</key>
        <dict>
            <key>attack</key>
            <array>
                <integer>3</integer>
            </array>
            <key>attackRate</key>
            <array>
                <integer>1</integer>
            </array>
            <key>mode</key>
            <array>
                <integer>2</integer>
            </array>
            <key>magicUse</key>
            <array>
                <integer>3</integer>
            </array>
            <key>bulletNum</key>
            <array>
                <integer>3</integer>
            </array>
            <key>bulletV</key>
            <array>
                <integer>450</integer>
            </array>
        </dict>
        <key>sword</key>
        <dict>
            <key>attack</key>
            <array>
                <integer>3</integer>
            </array>
            <key>attackRate</key>
            <array>
                <integer>1</integer>
            </array>
            <key>mode</key>
            <array>
                <integer>1</integer>
            </array>
            <key>magicUse</key>
            <array>
                <integer>2</integer>
            </array>
            <key>bulletNum</key>
            <array>
                <integer>-1</integer>
            </array>
            <key>bulletV</key>
            <array>
                <integer>-1</integer>
            </array>
        </dict>
        <key>betterSword</key>
        <dict>
            <key>attack</key>
            <array>
                <integer>5</integer>
            </array>
            <key>attackRate</key>
            <array>
                <integer>1</integer>
            </array>
            <key>mode</key>
            <array>
                <integer>1</integer>
            </array>
            <key>magicUse</key>
            <array>
                <integer>4</integer>
            </array>
            <key>bulletNum</key>
            <array>
                <integer>-1</integer>
            </array>
            <key>bulletV</key>
            <array>
                <integer>-1</integer>
            </array>
        </dict>
    </dict>
</plist>
